<main>
  <hr />
  <h2>Opel Corsa 2003</h2>

  <div class="pathing">
    <div class="ubi">
      <p>Ubicación</p>
      <i class="bi bi-arrow-90deg-up arrow"></i>
    </div>
    <ul>
      <li>Parada 1 <i class="bi bi-node-minus"></i></li>
      <li>Parada 2 <i class="bi bi-node-minus"></i></li>
      <li>Parada 3 <i class="bi bi-node-minus"></i></li>
    </ul>

    <div class="plus"><i class="bi bi-plus-circle"></i></div>

    <a class="startRoute" href="">Comenzar Ruta</a>
    <a class="closestCharger" href="">Cargador mas cercano</a>
  </div>
</main>
