body {
  height: 100vh;
  overflow: hidden;
  /* background-image: url(../../assets/images/image\ 7.png); */
}
main {
  position: relative;
  height: 100vh;
}

.aside {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  z-index: 9999;
}

#map {
  border: 0;
  height: 93%;
  width: 100%;
}

@media (width < 768px){
  .aside{
    position: absolute;
    top: 46.5%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}


