<main>
  <hr />

  <h4>
    <ng-container *ngIf="this.isLogged; else noCarAvailable">
      {{ tipoCoche }}
    </ng-container>
    <ng-template #noCarAvailable> Coche no disponible </ng-template>
  </h4>

  <div class="pathing">
    <div class="ubi">
      <input
        type="text"
        placeholder="Ubicación"
        [value]="nombreUbicacionActual"
        disabled
      />
      <a href=""><i class="bi bi-arrow-90deg-up arrow"></i></a>
    </div>
    <ul>
      <!-- <li *ngFor="let calle of routes; let i = index; let isFirst = first">
        <input type="text" [value]="calle.name" />
      </li> -->
      <li *ngFor="let calle of routes; let i = index; let isFirst = first">
        <input type="text" [value]="calle" disabled />
      </li>

      <!--
        <input
          type="text"
          placeholder="{{ nombreCalle }}"
          value="{{ nombreCalle }}"
        />
        <a href=""><i class="bi bi-node-minus"></i></a>
      </li>
      <li>
        <input type="text" placeholder="Parada 2" />
        <a href=""><i class="bi bi-node-minus"></i></a>
      </li>
      <li>
        <input type="text" placeholder="Parada 3" />
        <a href=""><i class="bi bi-node-minus"></i></a>
      </li> -->
    </ul>

    <input [(ngModel)]="query" (keyup.enter)="searchLocation(query)" placeholder="Añadir ubicación">

    <!-- Resultados de la búsqueda -->
    <div *ngIf="locations && locations.length > 0">
      <ul id="searchLocation">
        <li *ngFor="let ubicacion of locations" (click)="selectLocation(ubicacion.display_name)" (click)="searchLocation('')">
          {{ ubicacion.display_name }}
        </li>
      </ul>
    </div>

    <!-- Campo de entrada deshabilitado con el valor seleccionado -->
    <div class="parada" *ngFor="let location of selectedLocations; let i = index">
      <input [value]="location" [disabled]="true" placeholder="Escribe aquí">
    </div>

    <div class="plus">
      <a href=""><i class="bi bi-plus-circle"></i></a>
    </div>

    <a class="startRoute" href="">Comenzar Ruta</a>
    <a class="closestCharger" href="">Cargador mas cercano</a>
  </div>
</main>
